.navigation {
  margin-bottom: 24px;
}

.navigation__list {
  list-style-position: inside;
}

.navigation__item {
  font-size: 16px;
}

.navigation__link {
  color: #525252;
  text-decoration: none;
}