@font-face {
  font-family: "Droid Serif";
  src: local("Droid Serif"), local("Droid-Serif-Regular"), url("fonts/DroidSerif.woff2") format("woff2"),
    url("fonts/DroidSerif.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Droid Serif";
  src: local("Droid Serif Bold"), local("Droid-Serif-Bold"), url("fonts/DroidSerif-Bold.woff2") format("woff2"),
    url("fonts/DroidSerif-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Droid Serif", "Times New Roman", serif;
  font-size: 22px;
  line-height: 150%;
  color: #2d2d2d;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1920px;
  padding: 0 75px;
}

.container {
  max-width: 1095px;
}

.article {
  padding-top: 100px;
}

.title {
  margin-bottom: 50px;
}

.subtitle {
  margin-bottom: 50px;
}

.navigation {
  margin-bottom: 50px;
}

.navigation-list {
  list-style-position: inside;
}

.navigation-item {
  font-size: 16px;
}

.navigation-link {
  color: #525252;
  text-decoration: none;
}

.content-image {
  margin-bottom: 50px;
}

.advice {
  margin-bottom: 50px;
}

.advice-title {
  font-size: inherit;
}

.every-day {
  margin-bottom: 50px;
}

.every-day-title {
  font-size: inherit;
  font-weight: inherit;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}